<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    < <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
        <li>
              <a href="/form/">форма</a>
       </li>
    </ul>
        <hr>
        <br>
        разработчик: {{name}}
        <br>
       21285 это мой номер
</body>
</html>