<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
        <li>
              <a href="/form/">форма</a>
       </li>
    </ul>
    <h1>Привет!</h1>
    <hr>
    <p>Что нового на сайте ГЭС-2</p>
    {{main_data}}
</body>
</html>